/* CSS files add styling rules to your content */
html {
  background-color: #fcfcfc;
  color: #222222;
  font-size: 16px; 
}
body {
  
 max-width: 1000px;
 margin: 0px auto;
 padding: 20px;
}

header{
  
   text-align: center; 

}

p { 
  font-family: Tahoma, arial; 
  font-weight: normal;
  color: #2aa391;
}

p.tagline {
  font-style: italic; 
  font-size: 18px; 
}

main {
 
 
  
   
}
 {
  width: 100%;
  
}
 
 
 

h1 {
  font-family: "Chelsea Market", cursive;
  color: #a5518b;
}

 

 